<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bangiay2">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BanGiay2"
        tools:targetApi="31">
        <activity
            android:label="Các mặt hàng trong hóa đơn"
            android:name=".DS_SP_Trong_HoaDonXuat"
            android:exported="false"
            android:parentActivityName=".QLHoaDonXuat"/>
        <activity
            android:label="Quản lý hóa đơn xuát"
            android:name=".QLHoaDonXuat"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="Xuất hàng"
            android:name=".XuatHangAction"
            android:exported="false"
            android:parentActivityName=".XuatKhoActivity"/>
        <activity
            android:label="Xuất hàng"
            android:name=".XuatKhoActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="Các mặt hàng trong hóa đơn"
            android:name=".DS_SP_Trong_HoaDonNhap"
            android:exported="false"
            android:parentActivityName=".QLHoaDonNhap"/>
        <activity
            android:label="Quản lý hóa đơn nhập"
            android:name=".QLHoaDonNhap"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="Nhập hàng"
            android:name=".Them_SP_Moi_Activity"
            android:exported="false"
            android:parentActivityName=".NhapHangActivity"/>
        <activity
            android:label="Nhập hàng"
            android:name=".Them_SP_Activity"
            android:exported="false"
            android:parentActivityName=".NhapHangActivity"/>
        <activity
            android:label="Nhập hàng"
            android:name=".NhapHangActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="Sủa thông tin sản phẩm"
            android:name=".SuaSP_Activity"
            android:exported="false"
            android:parentActivityName=".HangTrongKho_Activity"/>
        <activity
            android:label="Hàng trong kho"
            android:name=".HangTrongKho_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="Quên mật khẩu"
            android:name=".QuenMK"
            android:exported="false"
            android:parentActivityName=".DangNhap"/>
        <activity
            android:label="Đăng ký"
            android:name=".DangKy"
            android:exported="false"
            android:parentActivityName=".DangNhap" />
        <activity
            android:name=".DangNhap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Quản lý bán giày"
            android:name=".MainActivity"
            android:exported="true"
            android:parentActivityName=".DangNhap" />
    </application>

</manifest>